.blogs {
  padding: var(--sp-md);

  &__grid {
    display: grid;
    column-gap: var(--sp-md);
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .blog__item {
      position: relative;
      margin-bottom: 150px;

      &__img {
        overflow: hidden;

        &:hover img {
          transform: scale(1.1);
        }

        img {
          width: 100%;
          transition: all 0.3s ease-in-out;
        }
      }

      &__text {
        position: absolute;
        padding: var(--sp-lg);
        margin: 0 var(--sp-xl);
        margin-top: -30px;

        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        h4 {
          margin-bottom: var(--sp-sm);
        }
      }
    }
  }
}
