.collections {
  &__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--sp-lg);
    padding: var(--sp-md);

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      column-gap: var(--sp-md);
    }

    .banner {
      position: relative;
      overflow: hidden;

      &__img {
        object-fit: cover;
        width: 100%;

        transition: all 0.5s ease-in-out;
      }

      &__text {
        margin: var(--sp-sm);

        h2 {
          margin-bottom: var(--sp-sm);
        }

        @media screen and (min-width: 768px) {
          position: absolute;
          top: 25%;
          left: var(--sp-md);
        }
      }
      &:hover img {
        transform: scale(1.1, 1.1);
        transform-origin: right;
      }
    }
  }
}
